body {
    background-color: #d7e2ff;
    text-align: center;
    font-size: 2em;
}

h2 {
    padding-top: 2em;
}

.dropD {
    margin-right: 32em;
}

#button {
    margin-top: 2em;
}
.marginz {
    margin-top: 3em;
    margin-left: 19%;
}
h3 {
    margin-top: 3em;
}
#variants {
    padding-bottom: 2em;

}